@import url("variables.css");

*{
    box-sizing: border-box;
    background: #000;
    color: #fff;
    font-family: "Roboto";
}


 /* ------------------------------------- CAJAS --------------------------------------- */

.main{
    display: flex;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.left_aside{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    height:98vh;
    width: 60vh;

}

.right_aside{
    display: flex;
    border: 1px solid green;
    height:98vh;
    width: 45vh;

}

.section_middle{
    display: flex;
    border: 1px solid green;
    height:98vh;
    width: 100vh;
}



/* ------------------------------- ASIDE IZQUIERDO -------------------------------------- */


.left_header{
    display: flex;   
    border: 1px solid yellow;
    width: 100%;
    font-size: 200%;
}

.left_header h1{
    display: flex;   
    margin-left: 4%;
    margin-top: 3%;
}



