@import url("variables.css");

*{
    box-sizing: border-box;
    background: #000;
    color: #fff;
}


 /* ------------------------------------- CAJAS --------------------------------------- */

.main{
    display: flex;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.left_aside{
    display: flex;
    border: 1px solid green;
    height:98vh;
    width: 60vh;

}

.right_aside{
    display: flex;
    border: 1px solid green;
    height:98vh;
    width: 45vh;

}

.section_middle{
    display: flex;
    border: 1px solid green;
    height:98vh;
    width: 100vh;
}

.left_header{
    display: flex;    
}